<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [22]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [23]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.21.3
Pandas:  1.1.3

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [24]:
# wrong:
bikes = pd.read_table('dat/bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('dat/bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('dat/bikeshare.csv', header = 0)
print(bikes.head())

FileNotFoundError: [Errno 2] No such file or directory: 'dat/bikeshare.csv'

?ANSWER:

In [25]:
# Above examples are missing the delimiter argument. Below code works when you include delimiter argument.
bike_table = pd.read_table('bikeshare.csv', header = 0, delimiter = ',')
bike_table

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [26]:
bikes = pd.read_csv('bikeshare.csv')
bikes

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?ANSWER:

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be delth with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [27]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [45]:
df = pd.read_excel('Iris.xls', sheet_name = 'Iris')
df

FileNotFoundError: [Errno 2] No such file or directory: 'Iris.xls'

In [98]:
# I downloaded the Iris.xls file as a csv then used .read_csv()
df_iris = pd.read_csv('Iris.xls - Data.csv')
df_iris

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

In [99]:
df_iris.head()

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

In [100]:
df_iris.shape

(150, 6)

Load the above file without the unwanted columns:

In [104]:
df_iris.columns

Index(['Species_No', 'Petal_width', 'Petal_length', 'Sepal_width',
       'Sepal_length', 'Species_name'],
      dtype='object')

In [105]:
df_iris.drop(['Species_No'], axis = 1, inplace = True)

In [106]:
df_iris.columns

Index(['Petal_width', 'Petal_length', 'Sepal_width', 'Sepal_length',
       'Species_name'],
      dtype='object')

In [107]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Petal_width   150 non-null    float64
 1   Petal_length  150 non-null    float64
 2   Sepal_width   150 non-null    float64
 3   Sepal_length  150 non-null    float64
 4   Species_name  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [34]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

Empty DataFrame
Columns: [time, latitude, longitude, depth, mag, magType, nst, gap, dmin, rms, net, id, updated, place, type, horizontalError, depthError, magError, magNst, status, locationSource, magSource]
Index: []

[0 rows x 22 columns]

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [72]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

# Load 
df = pd.read_html(url)[0]
df.head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

In [70]:
type(df)

pandas.core.frame.DataFrame

In [69]:
print(df.dtypes)

Bank NameBank              object
CityCity                   object
StateSt                    object
CertCert                    int64
Acquiring InstitutionAI    object
Closing DateClosing        object
FundFund                    int64
dtype: object

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

In [42]:
url = 'http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/'

# Load the XML file into a data frame
df = pd.read_html(url)[0]
df.head()

,Unnamed: 0,ID,String,Description,Type,Comment,Link1,Link2
0,0,id_a_f_3,!Susie (http://www.sync2it.com/susie),Sync2It bookmark management & clustering engine,C R,None,http://www.sync2it.com,None
1,1,id_a_f_6,<a href='http://www.unchaos.com/'> UnChaos </a...,UnCHAOS search robot,R,Site is dead,http://www.unchaos.com/,None
2,2,id_a_f_7,<a href='http://www.unchaos.com/'> UnChaos Bot...,UnCHAOS search robot,R,Site is dead,http://www.unchaos.com/,None

#### Importing JSON Files from the Web
https://www.dataquest.io/blog/python-json-tutorial/

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [16]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [17]:
#ANSWER
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [18]:
#ANSWER
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [20]:
#ANSWER
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [21]:
#ANSWER
bikes.index

RangeIndex(start=0, stop=17379, step=1)

In [73]:
type(bikes)

pandas.core.frame.DataFrame

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [74]:
#ANSWER
bikes['season']

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

In [76]:
bikes[['season']]

       season
0           1
1           1
2           1
3           1
4           1
...       ...
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [77]:
#ANSWER
#N.B: Call atemp as an object, don't use .head()
bikes.atemp[:4]

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [81]:
#bikes[[0]]
#bikes[0]
#bikes[0,0]
bikes[[0,0]]

KeyError: "None of [Int64Index([0, 0], dtype='int64')] are in the [columns]"

In [87]:
bikes.head(2)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40

What is the correct way to access the 1st row of the DataFrame by its index?

In [85]:
#ANSWER
bikes.iloc[[0]]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16

What is the correct way to access the 2nd column of the DataFrame by its index?

In [90]:
#ANSWER
bikes.iloc[:,1]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

## Handling Missing Values

What is the Pandas `isnull` function for?

?ANSWER:

isnull function is to be used when dealing with missing values in input data. df.isnull would return a boolean data frame.

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [91]:
bikes.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [92]:
#ANSWER
bikes.isnull().sum().sum()

0

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [95]:
#ANSWER
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?ANSWER:

nan means 'not a number'

Write (and verify) a function that performs simple division with built-in handling of the edge case (i.e. return a nan value instead of just producing an error):

In [30]:
#ANSWER

Apply the Pandas `isna` function to the following data objects:

In [112]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [114]:
#ANSWER
print(pd.isna(x))
print(pd.isna(y))

False
True

In [117]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [121]:
#ANSWER
print(pd.isna(array))

[[False  True False]
 [False False  True]]

How is the pandas I/O parameter `na_values` used?

?ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [122]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [123]:
#ANSWER
bikes['season'].value_counts()

3    4496
2    4409
1    4242
4    4232
Name: season, dtype: int64

In [124]:
bikes[['season']].value_counts()

season
3         4496
2         4409
1         4242
4         4232
dtype: int64

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [134]:
#ANSWER
print("instant_range =",bikes['instant'].min(), 'to' ,bikes['instant'].max())
print("dteday_range =", bikes['dteday'].min(), 'to' , bikes['dteday'].max())
print("windspeed_range =", bikes['windspeed'].min(), 'to', bikes['windspeed'].max())

instant_range = 1 to 17379
dteday_range = 2011-01-01 to 2012-12-31
windspeed_range = 0.0 to 0.8507

Compute and print the overall minimum and maximum of the data columns:

In [357]:
#ANSWER
bikes.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [108]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [136]:
#ANSWER
bikes['atemp'].quantile([0.10, 0.25, 0.50, 0.75, 0.90])

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [137]:
type(bikes['atemp'])

pandas.core.series.Series

In [138]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1128,1129,2011-02-19,1,0,2,18,0,6,0,1,0.36,0.3182,0.25,0.4478,21,67,88
17282,17283,2012-12-27,1,1,12,23,0,4,1,2,0.24,0.2273,0.60,0.2537,2,24,26
2103,2104,2011-04-02,2,0,4,12,0,6,0,3,0.32,0.3333,0.81,0.1343,84,100,184
13546,13547,2012-07-23,3,1,7,15,0,1,1,1,0.80,0.7576,0.55,0.1940,76,205,281
2338,2339,2011-04-12,2,0,4,8,0,2,1,3,0.48,0.4697,0.88,0.3881,15,211,226

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indcates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [182]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [356]:
#ANSWER
# atemp_level is ['atemp'] column' s arranged version. Atemp is divided in 4 bins and every bin has similar type of data in it.

Here is a random sample of `atemp_level`:

In [142]:
atemp_level.sample(5)

11902       (0.5, 0.75]
3570        (0.5, 0.75]
11384       (0.25, 0.5]
16767    (-0.001, 0.25]
13999       (0.5, 0.75]
Name: atemp, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [143]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

854      mild
15357    mild
16119    mild
9518     mild
8840     cool
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [209]:
#ANSWER
bikes['atemp_level'] = bikes
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instant      17379 non-null  int64
 1   dteday       17379 non-null  object
 2   season       17379 non-null  int64
 3   yr           17379 non-null  int64
 4   mnth         17379 non-null  int64
 5   hr           17379 non-null  int64
 6   holiday      17379 non-null  int64
 7   weekday      17379 non-null  int64
 8   workingday   17379 non-null  int64
 9   weathersit   17379 non-null  int64
 10  temp         17379 non-null  float64
 11  atemp        17379 non-null  float64
 12  hum          17379 non-null  float64
 13  windspeed    17379 non-null  float64
 14  casual       17379 non-null  int64
 15  registered   17379 non-null  int64
 16  cnt          17379 non-null  int64
 17  atemp_level  17379 non-null  object
dtypes: float64(4), int64(12), object(2)
memory usage: 2.4+ MB

In [189]:
bikes[(bikes['atemp_level'] == 'mild') & (bikes['season'] == 2)].count()

instant        0
dteday         0
season         0
yr             0
mnth           0
hr             0
holiday        0
weekday        0
workingday     0
weathersit     0
temp           0
atemp          0
hum            0
windspeed      0
casual         0
registered     0
cnt            0
atemp_level    0
dtype: int64

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [202]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [203]:
# Cleaning Data

print(type(a), a.shape)

<class 'numpy.ndarray'> (3,)

In [204]:
print(type(b), b.shape)

<class 'numpy.ndarray'> (1, 3)

In [205]:
print(type(c), c.shape)

<class 'numpy.ndarray'> (2, 3, 4)

In [206]:
print(type(d), d.shape)

<class 'numpy.ndarray'> (4,)

In [207]:
print(type(e), e.shape)

<class 'numpy.ndarray'> (2, 4)

## Load Data

Load rock.csv and clean the dataset.

In [144]:
#ANSWER
df_rock = pd.read_csv('rock.csv')

## Check Column Names

Check column names and clean.

In [145]:
df_rock.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

In [164]:
df_rock.drop(['F*G'], axis = 1, inplace = True)

In [165]:
df_rock.columns = ['Song Clean', 'Artist Clean', 'Release Year', 'Combined', 'First', 'Year', 'Play Count']
df_rock.columns

Index(['Song Clean', 'Artist Clean', 'Release Year', 'Combined', 'First',
       'Year', 'Play Count'],
      dtype='object')

## Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

In [169]:
#ANSWER
df_rock['Release Year'].isnull().sum()

0

In [170]:
df_rock['Release Year'].fillna(0, inplace = True)

In [171]:
df_rock['Release Year'].isnull().sum()

0

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [172]:
df_rock.head()

,Song Clean,Artist Clean,Release Year,Combined,First,Year,Play Count
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1

In [173]:
df_rock.dtypes

Song Clean      object
Artist Clean    object
Release Year    object
Combined        object
First            int64
Year             int64
Play Count       int64
dtype: object

In [177]:
df_rock.isnull().sum().sum()

0

In [176]:
df_rock['Release Year'] = df_rock['Release Year'].astype('int64')

ValueError: invalid literal for int() with base 10: 'SONGFACTS.COM'

In [358]:
df_rock['Release Year'].replace('SONGFACTS.COM', 0, inplace = True) #Removing 'SONGFACTS.COM' because of it I couldn't change the data type of Release Year column.
df_rock['Release Year'] = df_rock['Release Year'].astype('int64')

In [180]:
df_rock.dtypes

Song Clean      object
Artist Clean    object
Release Year     int64
Combined        object
First            int64
Year             int64
Play Count       int64
dtype: object

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [181]:
#ANSWER
df_rock.describe()

       Release Year   First         Year   Play Count
count   2230.000000  2230.0  2230.000000  2230.000000
mean    1465.331390     1.0     0.741256    16.872646
std      867.196161     0.0     0.438043    25.302972
min        0.000000     1.0     0.000000     0.000000
25%        0.000000     1.0     0.000000     1.000000
50%     1973.000000     1.0     1.000000     4.000000
75%     1981.000000     1.0     1.000000    21.000000
max     2014.000000     1.0     1.000000   142.000000

# Write Some Functions

## Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [331]:
#ANSWER
def Song_check_70s(df_rock, row):
    if (df_rock['Release Year'][row] < 1970):
        return ((df_rock['Release Year'][row]), (df_rock['Song Clean']), (df_rock['Artist Clean']))     
    else:
        print('After 70s')

In [335]:
Song_check_70s(df_rock, 1)

(0,
 0                                  Caught Up in You
 1                                      Fantasy Girl
 2                                   Hold On Loosely
 3                            Rockin' Into the Night
 4                                 Art For Arts Sake
                            ...
 2225                        She Loves My Automobile
 2226                              Tube Snake Boogie
 2227                                           Tush
 2228                                     TV Dinners
 2229    WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO
 Name: Song Clean, Length: 2230, dtype: object,
 0       .38 Special
 1       .38 Special
 2       .38 Special
 3       .38 Special
 4              10cc
            ...
 2225         ZZ Top
 2226         ZZ Top
 2227         ZZ Top
 2228         ZZ Top
 2229         ZZ Top
 Name: Artist Clean, Length: 2230, dtype: object)

In [333]:
Song_check_70s(df_rock, 95)

After 70s

In [267]:
df_rock[df_rock['Release Year'] == 1970]

,Song Clean,Artist Clean,Release Year,Combined,First,Year,Play Count
95,In Memory Of Elizabeth Reed,Allman Brothers Band,1970,In Memory Of Elizabeth Reed by Allman Brothers...,1,1,1
98,Midnight Rider,Allman Brothers Band,1970,Midnight Rider by Allman Brothers Band,1,1,21
142,No Matter What,Badfinger,1970,No Matter What by Badfinger,1,1,2
184,Fairies Wear Boots,Black Sabbath,1970,Fairies Wear Boots by Black Sabbath,1,1,1
187,N.i.b.,Black Sabbath,1970,N.i.b. by Black Sabbath,1,1,8
...,...,...,...,...,...,...,...
2160,CRAZY LOVE,Van Morrison,1970,CRAZY LOVE by Van Morrison,1,1,1
2161,Domino,Van Morrison,1970,Domino by Van Morrison,1,1,1
2163,Into The Mystic,Van Morrison,1970,Into The Mystic by Van Morrison,1,1,1
2165,Moondance,Van Morrison,1970,Moondance by Van Morrison,1,1,14
2170,Spill the Wine,War,1970,Spill the Wine by War,1,1,2

## Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

In [398]:
#ANSWER
def float_func(column_name):
    for column_name in df:
        if type(column_name) == 'int64':
            column_name = pd.to_numeric(column_name, downcast="float")
        
        else:
            column_name = np.nan 
    print(type(column_name))

In [399]:
float_func(df_rock['First'])

<class 'float'>

In [400]:
float_func(df_rock['Combined'])

<class 'float'>

## Apply these functions to your dataset

In [ ]:
#ANSWER

## Describe the new float-only DataFrame.

In [401]:
#ANSWER
df_rock.describe()

       Release Year   First         Year   Play Count
count   2230.000000  2230.0  2230.000000  2230.000000
mean    1465.331390     1.0     0.741256    16.872646
std      867.196161     0.0     0.438043    25.302972
min        0.000000     1.0     0.000000     0.000000
25%        0.000000     1.0     0.000000     1.000000
50%     1973.000000     1.0     1.000000     4.000000
75%     1981.000000     1.0     1.000000    21.000000
max     2014.000000     1.0     1.000000   142.000000



---



---



> > > > > > > > > © 2021 Institute of Data


---



---